* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--main-color: #123331;
}
body {
	background-color: #eee;
	font-family: "Times New Roman", Times, serif;
}
h1 {
	padding: 20px;
	margin-bottom: 30px;
	background-color: white;
	text-align: center;
}

.game-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	max-width: 1000px;
	padding: 20px;
	margin: 20px auto;
	justify-content: center;
	gap: 50px;
	.game-area {
		.inputs {
			display: flex;
			flex-direction: column;
			gap: 30px;
			margin-bottom: 30px;
			.try-word {
				&.disabled {
					pointer-events: none;
					opacity: 0.2;
				}
				display: flex;
				align-items: center;
				gap: 10px;
				font-weight: bold;
				.try-letter {
					text-align: center;
					width: 60px;
					height: 60px;
					font-size: 50px;
					border: none;
					border-bottom: 3px solid black;
					caret-color: var(--main-color);
					&:focus {
						outline: #ccc;
					}
					&.in-place {
						background-color: #f89e13;
						border-color: #f89e13;
						color: white;
					}
					&.not-in-place {
						background-color: #18ba89;
						border-color: #18ba89;
						color: white;
					}
					&.not-found {
						background-color: #27303f;
						border-color: #27303f;
						color: white;
					}
				}
			}
		}
		.control {
			display: flex;
			gap: 5px;
			margin-bottom: 15px;
			button {
				border: none;
				font-size: 25px;
				color: white;
				padding: 15px 20px;
				border-radius: 6px;
				cursor: pointer;
				font-weight: bold;
			}
			#check {
				flex: 1;
				background-color: var(--main-color);
			}
			#hint {
				background-color: #009688;
				width: fit-content;
			}
			button:disabled {
				opacity: 0.4;
				background-color: black;
				cursor: no-drop;
			}
		}
		.message {
			font-size: 30px;
			text-align: center;
			span {
				color: var(--main-color);
				font-weight: bold;
				font-size: 50px;
				display: block;
			}
		}
	}
	.game-keys {
		h2 {
			margin-bottom: 10px;
		}
		.key {
			background-color: white;
			padding: 10px;
			margin: 10px auto;
			display: flex;
			align-items: center;
			gap: 10px;
			.key-color {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin-right: 5px;
				&.in-place {
					background-color: #f89e13;
				}
				&.not-in-place {
					background-color: #18ba89;
				}
				&.not-found {
					background-color: #27303f;
				}
			}
			.key-text {
				font-weight: bold;
				font-size: 22px;
			}
		}
	}
}
@media (max-width: 768px) {
	.game-container .game-area .inputs .try-word {
		gap: 5px;
	}
	.game-container .game-area .inputs .try-word .try-letter {
		width: 30px;
		height: 30px;
		font-size: 30px;
		border-bottom-width: 1px;
	}
}
@media (max-width: 768px) {
	.key-text {
		font-size: 14px;
	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
}
